[user]
  name = 2754github
  email = fkesys@gmail.com
[core]
  quotepath = false
[push]
  default = current
[rebase]
  autosquash = true
[status]
  showUntrackedFiles = all

# git-delta：https://github.com/dandavison/delta
[pager]
  diff = delta
  log = delta
  reflog = delta
  show = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  features = line-numbers decorations
  whitespace-error-style = 22 reverse
  plus-style = syntax "#004d00"
  minus-style = syntax "#4d0000"

[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none

[delta "line-numbers"]
  line-numbers-plus-style = green
  line-numbers-minus-style = red
